body {
    background: url("fire.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(161, 30, 30, 0.5);
    color: rgba(255, 255, 255, 0.993);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add box shadow */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    border-radius: 10px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .range-label {
    margin-left: 5px;
    font-size: 14px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: rgb(206, 52, 52);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }